html,body{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

*{
    box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6{
    margin-bottom: 0;
}

a{
    text-decoration: none !important;
}




.sub__header{
    background-color: #FF7E00;
}

.sub__header_ul{
    gap: 20px;
}

.sub__header_li{
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    transition: all 0.3s linear;
    color: #FFFFFF;
}

.social{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 22px;
}

.social__icons{
    color: #FFFFFF;
}

.main__header_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 0;
}

.header__right_side{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    gap: 40px   ;
}

.profile__and_buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px   ;
}

.logo{
    width: 132px;
    height: 52;
}

.logo img{
    width: 100%;
}

.search{
    position: relative;
    width: 100%;
    max-width: 450px;
}

.search__input{
    max-width: 450px;
    width: 100%;
    height: 40px;
    border-radius: 50px;
    padding-left: 16px;
    padding-right: 40px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #222222;
    border: 1px solid #FF7E00    ;
}

.input__btn{
    border-radius: 50px;
    background-color: #FF7E00;
    width: fit-content;
    height: fit-content;
    padding: 8px;
    display: flex;
    position: absolute;
    right: 4px;
    top: 4px;
    border: 0;
}

.input__btn:hover{
    background-color: #FF7E00;
    border: 0;
}

.dropdown-toggle::after{
    display: none   ;
}

.dropdown__button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #FF7E00;
    border-radius: 50px;
    padding-right: 45px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #000000;
}

.dropdown__button:hover{
    border: 1px solid #FF7E00;
}

.dropdown__menu .dropdown-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dropdown__menu .dropdown-item:hover{
    background-color: #ffc68c;
}

.dropdown__icon{
    position: absolute;
    right: 4px;
    top: 50%;
    transform: translate(0, -50%);
    background-color: #FF7E00;
    padding: 11px 9px;
    border-radius: 50%;
    display: flex;
}

.profile__blocks{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profile__blocks p{
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    color: #000000;
    margin-top: 4px;
}

.sub__header_li:hover{
    color: #FF7E00;
    transition: all 0.3s linear;
}

.dropdown__button:active,
.dropdown__button:focus,
.dropdown__button:focus-visible,
.search__input:active,
.search__input:focus,
.search__input:focus-visible{
    border: 1px solid #FF7E00 !important;
    outline: 0;
}